#Heading {
text-align: center;
}

#canvas {
  background-color: #030f21;
}

#DrawInput {
  width: 500px;
}

.CanvasSect {
  
  background-color: green;
}

.MainSect {
  margin-left: 25px;
}

.CaSelect {
  float: left;
}

.CustomSect {
  padding: 25px;
  font-size: 20pt;
  font-weight: bolder;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
  -webkit-background-clip: text;
  color: transparent;
}

.subBeta {
  vertical-align: sub;
  font-weight: 400;
  font-size: small;
}