body {
 background-color: #161a21;
 color: white;
}
#Heading {
text-align: center;
}

#canvas {
  background-color: #030f21;
}

#DrawInput {
  width: 500px;
  background-color: #4c525c;
  border-radius: 25px;
  border: 2px solid #161a21;
  
}
::placeholder {
  color: white;
  text-align: center;
}

#submitBTN {
  background-color: #161a21;
  color: white;
  border-radius: 5px;
  border: 2px solid #4c525c;
}

.CanvasSect {
  
  background-color: green;
}

.MainSect {
  margin-left: 25px;
}

.CaSelect {
  float: left;
}

.CustomSect {
  padding: 25px;
  font-size: 20pt;
  font-weight: bolder;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
  -webkit-background-clip: text;
  color: transparent;
}

.subBeta {
  vertical-align: sub;
  font-weight: 400;
  font-size: small;
}