body {
  background-color: #161a21;
  color: white;
}

#Heading {
  text-align: center;

  .subBeta {
    vertical-align: sub;
    font-weight: 400;
    font-size: small;
  }

}

#canvas {
  background-color: #030f21;
}

#DrawInput {
  width: 500px;
  background-color: #4c525c;
  border-radius: 25px;
  border: 2px solid #161a21;

}

::placeholder {
  color: white;
  text-align: center;
}

#submitBTN {
  background-color: #161a21;
  color: white;
  border-radius: 5px;
  border: 2px solid #4c525c;
}

#submitBTN:hover {
  transition: ease-in-out .5s;
  background-color: #4c525c;

}

.CanvasSect {

  background-color: green;
}

.MainSect {
  margin-left: 5%;
}

.CaSelect {
  float: left;
}

.CustomSect {
  padding: 25px;
  margin-left: 2%;
  font-size: 20pt;
  font-weight: bolder;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.SettingsSect {
  border-top: solid red;
  h2 {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 20%;
    text-align: center;
  }

  .Objects {
    float: right;
    margin-right: 5%;

    h3 {
      padding-bottom: 5%;
    }

    ul {
      float: left;
    }
  }
}